/* 
    == ARCHIVO CON LOS ESTILOS PRINCIPALES ==

    == ORDEN DE ESTILOS SEGÚN JERARQUÍA ==

    Autor: Juan Decia
    
    Última Actualización: 24/11/2025
*/

/* ####### RESET STYLES ####### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* ###### ESTILOS GENERALES ###### */

/* Fondo general de la página */
/* html, body {
    height: 100%;
} */

html {
    scroll-behavior: smooth; /* scroll suave */
}

body {
    background-color: white;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

section {
    display: flex;
    flex-direction: column;
}

/* Contenedor principal con ancho máximo */
.container {
    width: 90%;
    max-width: 1630px;
    margin: 0 auto;
}

/* Estilo general para las secciones del elemento main */
.cont-section{
    margin: 3% auto;
    max-width: 90%;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Separador */
hr {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 1rem auto;
  border: none;
  height: 4px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    #FFD180, #FFA726, #FB8C00, #E65100
  );
}

.hr-1 {
  margin-top: 3%;
}

.quote {
    color: var(--color-primary);
    
}

/* #################################### */

/* ###### ESTILOS ESPECÍFICOS DE SECCIONES ###### */

/* ### Inicio Sección Objetivos ### */

.section-objetivos {
    display: flex;
    flex-direction: row;
}

.article-objetivos {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.subtitle {
    font-size: 2em;
    color: var(--color-primary);
}

.cont-descripcion {
    margin-top: 5%;
}

/* Articulo Objetivos */
.cont-descripcion p {
    text-align: justify;
    line-height: 1.4em;
}

/* Artículo Imagen */

.card-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-imagen > figure {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-imagen > figure > img {
    width: 80%;
}

/* Artículo Que Ofrecemos */

.cont-descripcion ul {
    list-style-position: inside;
    text-align: justify;
}

.cont-descripcion ul li:nth-child(even) {
    margin: 25px 0;
}

/* ====================================== */

/* Clase para ocultar elementos */
.hidden {
    display: none !important;
}

/* Asegurar que la sección de inicio no tenga margen, relleno ni borde */
#inicio {
    margin: 0;
    padding: 0;
    border-top: none;
}



/* Títulos de sección */
.section-title {
    color: var(--color-primary);
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--spacing-sm);
}

#mas-info-texto {
  text-align: justify;
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
}

/* == MEDIA QUERIES == */

@media (max-width: 1024px) {
    .container {
        width: 80%;
        max-width: 896px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .container {
        width: 80%;
        max-width: 640px;
        margin: 0 auto;
    }
    
    .section-objetivos{
        flex-direction: column;
        gap: 45px;
    }

    .article-objetivos{
        width: 100%;
    }

    .card-imagen img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 20px;
    }
    
    .card-descripcion > p {
        font-size: 1.1em;
    }

    .card-descripcion ul {
        margin-left: 15px; 
        font-size: 1.3em;   
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        max-width: 640px;
        margin: 0 auto;
    }
    
    .section-objetivos{
        flex-direction: column;
    }

    .article-objetivos{
        width: 100%;
    }

    .card-imagen img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 20px;
    }

    .card-descripcion ul {
        margin-left: 15px;    
    }
}

@media (max-width: 480px) {
    .container {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }
}

