/* 
    == ARCHIVO CON LOS ESTILOS PRINCIPALES ==

    == ORDEN DE ESTILOS SEGÚN ESTRUCTURA SEMÁNTICA ==

    Autor: Juan Decia
    
    Última Actualización: 5/11/2025
*/

/* ==== INICIO ESTILOS GENERALES ==== */

* {
    /* Reset y estilos base */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    /* Scroll suave para anclas */
    scroll-behavior: smooth;
}

html, body {
    /* Fondo general de la página */
    height: 100%;
}

body {
    background-color: white;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ==== FIN DE ESTILOS GENERALES ==== */

/* ==== INICIO ESTILOS CONTENIDO ==== */

/* Contenedor Contenido Principal */
main {
    flex: 1 0 auto;
}


/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1630px;
    margin: 0 auto;
}

/* Estilos base para enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Contenedor de pie de página */
.footer {
    flex-shrink: 0;
}


/* Clase para ocultar elementos */
.hidden {
    display: none !important;
}

/* Estilos base para secciones */
.section {
    display: flex;
    flex-direction: column;
}

/* Asegurar que la sección de inicio no tenga margen, relleno ni borde */
#inicio {
    margin: 0;
    padding: 0;
    border-top: none;
}

/* Estilos para citas */
.quote {
    color: var(--color-primary);
    
}

/* Títulos de sección */
.section-title {
    color: var(--color-primary);
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--spacing-sm);
}

#mas-info-texto {
  text-align: justify;
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
}

/* ### MEDIA QUERIES ### */

@media (max-width: 1024px) {
    .container {
        width: 80%;
        max-width: 896px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        max-width: 640px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .container {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }
}

