/* 
    == ESTILOS DE LA SECCIÓN DE FLAYERS ==

    == ORDEN DE ESTILOS SEGÚN JERARQUÍA ==

    Autor: Juan Decia
    
    Última Actualización: 8/12/2025
*/

/* Elemento Principal de la sección */
.seccion-flayers {
    flex-direction: row; /* display flex por herencia */
    flex-wrap: wrap;
}

.seccion-flayers > article {
    gap: 40px;
    width: 100%;
    margin: 20px 0;
}

/* Main Cards Element */
.articulo-cont-flayers {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Main Card Element */
.cont-flayer {
  width: 33.33%;
  perspective: 1000px; /* da profundidad 3D */
  box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.75);
}

/* Tarjeta */
.card {
  position: relative;
  width: 100%;
  height: 600px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* Efecto flip al hacer hover */
.card.flipped {
  transform: rotateY(180deg);
}

/* Frente y reverso */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* oculta el lado trasero al rotar */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen ocupa todo el frente */
.front img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Reverso */
.back {
  background: #f0f0f0;
  transform: rotateY(180deg); /* lo coloca detrás */
}

.front img {
    height: 100%;
}

/* ====== MEDIA QUERIES ======= */

@media (max-width: 992px) {

  .seccion-flayers > article {
    flex-direction: column;
  }

  .cont-flayer {
    width: 100%;
    box-shadow: none;
  }

  .img-card {
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.75);
  }

}